body {
	background-color:#e5b2ff;
}

#header {
 background-color:#000000 ;	
 text-align: center;
}

#container {
	background-color: white;
	width: 900px;
	margin-left: auto;
	margin-right: auto;
}

#body {
	text-align: center;
}

#links {
	text-align: center; 
}

#hack {
	text-align: center;
}

#images {
	background-color: #000000;
	text-align: center;
}
