body {
	background-color:#000000;
}

#header {
 background-color:#000000 ;	
 text-align: center;
}

#body {
	background-color:#ced8e2;
	text-align: center;
}

#links {
	text-align: center;
}

#hack {
	text-align: center;
}

#images {
	background-color:#000000;
	text-align: center;
}
